/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/_theming.scss';

@include mat-core();
$app-primary: mat-palette($mat-light-blue, 300);
$app-accent: mat-palette($mat-red, 500, 900, A100);
$app-warn: mat-palette($mat-deep-orange);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    word-break: break-word;
    user-select: none;

    -webkit-font-smoothing: none;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    text-decoration: none;
}

body {
    background: #fff;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    margin-top: -24px;
    margin-left: -24px;
}

.no-script-message {
    color: #ef5350;
}

/* https://fonts.googleapis.com/icon?family=Material+Icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;

    src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;

    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
}
